# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Build directories
.webpack
.build
_optimize

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
.nyc_output
coverage
npm-debug.log*
yarn-error.log
server.js*
.DS_Store
dist
env.yml
.env

# Editor settings
.idea
.vscode

# Ignore compiled js files only
*.js
*.js.map
!jest.config.js
!webpack.config.js
!source-map-install.js